{% extends 'base.html.twig' %}

{% block title %}Détail d'un module{% endblock %}

{% block body %}
{% if is_granted('USER_ADMIN') %}

    <h1>{{ modules }}</h1>

    <h2>Description du module</h2>
    <p>{{modules.description}}</p>

    <h2>Catégorie du module</h2>
    <p>{{modules.categorie}}</p>
    {% else %}
        <h2>Page reservé aux administateurs</h2>
{% endif %}
{% endblock %}